.header {
  height: 82px;

  width: 100%;

  padding: 0 32px;

  background: #ffffff;

  border-bottom: 1px solid #e5eaf0;

  display: flex;

  align-items: center;

  justify-content: space-between;

  box-sizing: border-box;
}


/* PAGE TITLE */

.page-title {
  display: flex;

  flex-direction: column;

  gap: 4px;
}


.page-title span {
  color: #478ae8;

  font-size: 14px;

  font-weight: 800;

  letter-spacing: 1px;
}


.page-title h1 {
  margin: 0;

  color: #172033;

  font-family: Arial, Helvetica, sans-serif;

  font-size: 24px;

  font-weight: 700;
}


/* RIGHT SIDE */

.header-right {
  display: flex;

  align-items: center;

  gap: 14px;
}


/* SEARCH */

.search-box {
  width: 345px;

  height: 48px;

  padding: 0 14px;

  background: #f8fafc;

  border: 1px solid #e5eaf0;

  border-radius: 11px;

  display: flex;

  align-items: center;

  gap: 9px;

  box-sizing: border-box;
}


.search-icon {
  font-size: 17px;
}


.search-box input {
  width: 100%;

  height: 100%;

  border: none;

  outline: none;

  background: transparent;

  color: #0b0b0b;

  font-size: 15px;
}


.search-box input::placeholder {
  color: #0c0c0c;
}


/* NOTIFICATION */

.notification {
  position: relative;

  width: 48px;

  height: 48px;

  border: 1px solid #e5eaf0;

  border-radius: 11px;

  background: #ffffff;

  cursor: pointer;

  font-size: 18px;
}


.notification-count {
  position: absolute;

  top: -7px;

  right: -5px;

  width: 20px;

  height: 20px;

  border-radius: 50%;

  background: #ef4444;

  color: #ffffff;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 15px;

  font-weight: 800;
}


/* PROFILE */

.profile {
  display: flex;

  align-items: center;

  gap: 9px;

  min-width: 150px;
}


.profile-avatar {
  width: 45px;

  height: 45px;

  border-radius: 50%;

  background: #dbeafe;

  color: #2563eb;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 15px;

  font-weight: 800;
}


.profile-info {
  display: flex;

  flex-direction: column;

  gap: 3px;
}


.profile-info strong {
  color: #0c0c0c;

  font-size: 15px;
}


.profile-info span {
  color: #2165ec;

  font-size: 14px;
}


.profile-arrow {
  margin-left: 4px;

  color: #0e0e0e;

  font-size: 13px;
}


/* RESPONSIVE */

@media (max-width: 1000px) {

  .search-box {
    width: 240px;
  }

}


@media (max-width: 750px) {

  .search-box {
    display: none;
  }

  .header {
    padding: 0 18px;
  }

}